<%-include("./partials/header")-%>
<!-- CTA Section: Simple With Illustration -->
<div class="bg-white dark:text-gray-100 dark:bg-gray-800">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-12 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32"
  >
    <div class="flex items-center text-center lg:text-left">
      <div class="space-y-8">
        <!-- Heading -->
        <div>
          <div
            class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-600 dark:text-blue-500"
          >
            Get Started
          </div>
          <h2 class="text-4xl font-black text-black mb-4 dark:text-white">
            Grow your business
            <span class="text-blue-600 dark:text-blue-500">now</span>!
          </h2>
          <h3
            class="text-xl leading-relaxed font-medium text-gray-700 dark:text-gray-300"
          >
            Inspiring results from day one without the pain. Get your own custom
            dashboard and start building amazing services.
          </h3>
        </div>
        <!-- END Heading -->

        <!-- Action -->
        <div>
          <a
            href="javascript:void(0)"
            class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-6 py-3 leading-6 border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-600 hover:border-blue-600 focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700 dark:focus:ring-blue-400 dark:focus:ring-opacity-90"
          >
            <svg
              class="hi-mini hi-plus-circle inline-block w-5 h-5 opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
                clip-rule="evenodd"
              />
            </svg>
            <span>Create your Account</span>
          </a>
        </div>
        <!-- END Action -->
      </div>
    </div>
    <div class="flex items-center lg:justify-end text-blue-500">
      <svg
        viewBox="0 0 753 480.951"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full"
      >
        <path
          d="M149.18 480.567l-2-.039a463.833 463.833 0 017.1-66.287c8.648-46.88 23.029-77.67 42.743-91.512l1.148 1.637C152.12 356.7 149.203 479.332 149.18 480.567zM174.18 480.089l-2-.04c.043-2.214 1.293-54.413 21.843-68.841l1.148 1.637c-19.72 13.845-20.981 66.711-20.991 67.244z"
          fill="#374151"
        ></path>
        <circle cx="209.549" cy="314.548" r="10" fill="currentColor"></circle>
        <circle cx="204.597" cy="400.548" r="10" fill="currentColor"></circle>
        <path
          d="M169.519 330.542c1.879 12.004-3.02 22.74-3.02 22.74s-7.945-8.725-9.824-20.729 3.019-22.74 3.019-22.74 7.945 8.725 9.825 20.73zM202.206 359.696c-11.493 3.942-22.919.99-22.919.99s7.208-9.344 18.7-13.287 22.92-.99 22.92-.99-7.208 9.345-18.701 13.287zM202.575 435.857a31.135 31.135 0 01-16.064.694 28.374 28.374 0 0129.172-10.006 31.134 31.134 0 01-13.108 9.312z"
          fill="#374151"
        ></path>
        <path
          fill="#9e616a"
          d="M606.671 467.453h-13.14l-6.251-50.685 19.394.001-.003 50.684z"
        ></path>
        <path
          d="M610.023 480.19h-42.37v-.537a16.493 16.493 0 0116.491-16.491h.001l25.878.001z"
          fill="#374151"
        ></path>
        <path
          fill="#9e616a"
          d="M525.57 467.453h-13.141l-6.251-50.685 19.394.001-.002 50.684z"
        ></path>
        <path
          d="M528.921 480.19h-42.37v-.537a16.493 16.493 0 0116.491-16.491h.002l25.878.001z"
          fill="#374151"
        ></path>
        <path
          d="M492.789 183.616l-18.2-2.812-5.88 9.464-63.272 16.129.172.872a11.904 11.904 0 102.587 12.31l76.625-15.982zM674.554 172.347a11.855 11.855 0 00-4.375.841l.363-.633-80.444-41.58-10.967 17.73 83.635 37.125a11.9 11.9 0 1011.788-13.483z"
          fill="#9e616a"
        ></path>
        <circle
          cx="736.071"
          cy="267.733"
          r="35.538"
          transform="rotate(-80.783 501.187 294.317)"
          fill="#374151"
        ></circle>
        <circle cx="512.264" cy="70.77" r="22.671" fill="#a0616a"></circle>
        <ellipse
          cx="512.571"
          cy="48.405"
          rx="24.509"
          ry="14.705"
          fill="#374151"
        ></ellipse>
        <circle cx="515.021" cy="22.671" r="14.705" fill="#374151"></circle>
        <path
          d="M495.414 14.705A14.707 14.707 0 01508.588.08a14.87 14.87 0 00-1.532-.08 14.705 14.705 0 000 29.41 14.87 14.87 0 001.532-.079 14.707 14.707 0 01-13.174-14.626zM500.478 127.051l1.828-17.576s24.806-16.347 33.236-6.686l50.388 86.213s31.323 11.136 30.216 53.658l-1.498 205.54-35.517 3.894-21.568-160.25-19.487 166.026-41.35-1.295 3.72-109.376 19.717-106.027-.188-35.182-8.684-14.199s-15.908-6.39-16.352-24.45l-.349-25.386z"
          fill="#374151"
        ></path>
        <path
          d="M526.488 107.615l.49-8.24s75.031 19.773 69.079 33.91-17.113 18.6-17.113 18.6l-43.155-17.112zM506.88 128.117l-5.645-6.02s-45.032 63.188-31.414 70.248 25.052 3.354 25.052 3.354l22.228-40.757z"
          fill="#374151"
        ></path>
        <path
          d="M416.745 333.873l282.56-56.404-23.613-118.297-282.561 56.404z"
          fill="#fff"
        ></path>
        <path
          d="M701.618 279.011l-286.416 57.174-24.384-122.152 286.417-57.173zm-283.33 52.55l278.705-55.635-22.844-114.441-278.706 55.634z"
          fill="#9CA3AF"
        ></path>
        <path
          fill="#9CA3AF"
          d="M427.715 242.718l228.672-45.647 1.19 5.962-228.672 45.647zM432.349 265.933l228.672-45.647 1.19 5.962-228.672 45.647zM437.01 289.282l228.672-45.647 1.19 5.962L438.2 295.244z"
        ></path>
        <path
          d="M547.129 234.12l-7.998 1.597a2.25 2.25 0 01-2.643-1.764l-3.781-18.942a2.25 2.25 0 011.763-2.643l7.998-1.597a2.25 2.25 0 012.643 1.764l3.781 18.942a2.25 2.25 0 01-1.763 2.643zM638.227 240.075l-7.998 1.597a2.25 2.25 0 01-2.643-1.764l-3.78-18.942a2.25 2.25 0 011.763-2.643l7.997-1.597a2.25 2.25 0 012.643 1.764l3.781 18.942a2.25 2.25 0 01-1.763 2.643zM588.893 274.202l-7.997 1.597a2.25 2.25 0 01-2.643-1.763l-3.782-18.943a2.25 2.25 0 011.764-2.643l7.998-1.597a2.25 2.25 0 012.643 1.764l3.78 18.942a2.25 2.25 0 01-1.763 2.643z"
          fill="currentColor"
        ></path>
        <path
          d="M752 480.951H1a1 1 0 010-2h751a1 1 0 010 2z"
          fill="#374151"
        ></path>
      </svg>
    </div>
  </div>
</div>
<!-- END CTA Section: Simple With Illustration -->
<!-- Statistics Section: Simple -->
<div class="bg-white dark:text-gray-100 dark:bg-gray-900">
  <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
    <div
      class="grid grid-cols-1 sm:grid-cols-3 text-center divide-y sm:divide-y-0 sm:divide-x dark:divide-gray-700/75"
    >
      <dl class="space-y-1 px-5 py-8">
        <dt class="text-4xl font-extrabold text-black dark:text-white">
          8,600+
        </dt>
        <dd
          class="text-sm uppercase tracking-wide font-semibold text-blue-600 dark:text-blue-500"
        >
          Projects
        </dd>
      </dl>
      <dl class="space-y-1 px-5 py-8">
        <dt class="text-4xl font-extrabold text-black dark:text-white">
          2,500+
        </dt>
        <dd
          class="text-sm uppercase tracking-wide font-semibold text-blue-600 dark:text-blue-500"
        >
          Clients
        </dd>
      </dl>
      <dl class="space-y-1 px-5 py-8">
        <dt class="text-4xl font-extrabold text-black dark:text-white">
          760k+
        </dt>
        <dd
          class="text-sm uppercase tracking-wide font-semibold text-blue-600 dark:text-blue-500"
        >
          Earnings
        </dd>
      </dl>
    </div>
  </div>
</div>
<!-- END Statistics Section: Simple -->
<!-- Logos Section: Plain -->
<div
  class="bg-gradient-to-tr from-indigo-100 via-purple-50 to-cyan-100 dark:text-gray-100 dark:from-indigo-950 dark:via-purple-950 dark:to-teal-950"
>
  <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 text-center"
    >
      <div class="h-20 flex items-center justify-center">
        <div class="inline-flex items-center space-x-2 text-2xl font-semibold">
          <svg
            class="hi-solid hi-cube inline-block w-8 h-8 text-indigo-600 dark:text-indigo-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z"
            />
          </svg>
          <span>boxspot</span>
        </div>
      </div>
      <div class="h-20 flex items-center justify-center">
        <div class="inline-flex items-center space-x-2 text-2xl font-semibold">
          <svg
            class="hi-solid hi-code-bracket-square inline-block w-8 h-8 text-purple-600 dark:text-purple-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z"
              clip-rule="evenodd"
            />
          </svg>
          <span>TechCode</span>
        </div>
      </div>
      <div class="h-20 flex items-center justify-center">
        <div class="inline-flex items-center space-x-2 text-2xl font-semibold">
          <svg
            class="hi-solid hi-cursor-arrow-rays inline-block w-8 h-8 text-rose-600 dark:text-rose-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12 1.5a.75.75 0 01.75.75V4.5a.75.75 0 01-1.5 0V2.25A.75.75 0 0112 1.5zM5.636 4.136a.75.75 0 011.06 0l1.592 1.591a.75.75 0 01-1.061 1.06l-1.591-1.59a.75.75 0 010-1.061zm12.728 0a.75.75 0 010 1.06l-1.591 1.592a.75.75 0 01-1.06-1.061l1.59-1.591a.75.75 0 011.061 0zm-6.816 4.496a.75.75 0 01.82.311l5.228 7.917a.75.75 0 01-.777 1.148l-2.097-.43 1.045 3.9a.75.75 0 01-1.45.388l-1.044-3.899-1.601 1.42a.75.75 0 01-1.247-.606l.569-9.47a.75.75 0 01.554-.68zM3 10.5a.75.75 0 01.75-.75H6a.75.75 0 010 1.5H3.75A.75.75 0 013 10.5zm14.25 0a.75.75 0 01.75-.75h2.25a.75.75 0 010 1.5H18a.75.75 0 01-.75-.75zm-8.962 3.712a.75.75 0 010 1.061l-1.591 1.591a.75.75 0 11-1.061-1.06l1.591-1.592a.75.75 0 011.06 0z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Klickers</span>
        </div>
      </div>
      <div class="h-20 flex items-center justify-center">
        <div class="inline-flex items-center space-x-2 text-2xl font-semibold">
          <svg
            class="hi-solid hi-map-pin inline-block w-8 h-8 text-teal-600 dark:text-teal-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"
            />
          </svg>
          <span>freshloc</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Logos Section: Plain -->
<!-- Team Section: Circle Photos with Title -->
<div class="bg-white dark:text-gray-100 dark:bg-gray-900">
  <div
    class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32"
  >
    <!-- Heading -->
    <div class="text-center">
      <div
        class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-600 dark:text-blue-500"
      >
        Real People
      </div>
      <h2 class="text-4xl font-black text-black mb-4 dark:text-white">
        Meet our talented team
      </h2>
      <h3
        class="text-xl leading-relaxed font-medium text-gray-700 lg:w-2/3 mx-auto dark:text-gray-300"
      >
        They are working nonstop behind the scenes to help you build better
        products, web services and websites.
      </h3>
    </div>
    <!-- END Heading -->

    <!-- Team -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 md:gap-16 text-center"
    >
      <div>
        <span
          class="inline-block rounded-full bg-white shadow-lg p-2 mb-5 dark:bg-gray-700/75 dark:shadow-gray-950"
        >
          <img
            src="https://cdn.tailkit.com/media/placeholders/avatar-bY4GXQKfZrA-320x320.jpg"
            alt="User Avatar"
            class="inline-block w-28 h-28 rounded-full"
          />
        </span>
        <h4 class="text-xl font-bold mb-0.5">Irma Norton</h4>
        <p class="font-medium text-gray-600 dark:text-gray-400">
          Founder &amp; CEO
        </p>
      </div>
      <div>
        <span
          class="inline-block rounded-full bg-white shadow-lg p-2 mb-5 dark:bg-gray-700/75 dark:shadow-gray-950"
        >
          <img
            src="https://cdn.tailkit.com/media/placeholders/avatar-iFgRcqHznqg-320x320.jpg"
            alt="User Avatar"
            class="inline-block w-28 h-28 rounded-full"
          />
        </span>
        <h4 class="text-xl font-bold mb-0.5">Alejandro Lee</h4>
        <p class="font-medium text-gray-600 dark:text-gray-400">
          Product Design
        </p>
      </div>
      <div>
        <span
          class="inline-block rounded-full bg-white shadow-lg p-2 mb-5 dark:bg-gray-700/75 dark:shadow-gray-950"
        >
          <img
            src="https://cdn.tailkit.com/media/placeholders/avatar-mEZ3PoFGs_k-320x320.jpg"
            alt="User Avatar"
            class="inline-block w-28 h-28 rounded-full"
          />
        </span>
        <h4 class="text-xl font-bold mb-0.5">Elsa King</h4>
        <p class="font-medium text-gray-600 dark:text-gray-400">
          Web Developer
        </p>
      </div>
      <div>
        <span
          class="inline-block rounded-full bg-white shadow-lg p-2 mb-5 dark:bg-gray-700/75 dark:shadow-gray-950"
        >
          <img
            src="https://cdn.tailkit.com/media/placeholders/avatar-sibVwORYqs0-320x320.jpg"
            alt="User Avatar"
            class="inline-block w-28 h-28 rounded-full"
          />
        </span>
        <h4 class="text-xl font-bold mb-0.5">Alex Saunders</h4>
        <p class="font-medium text-gray-600 dark:text-gray-400">Marketing</p>
      </div>
      <div>
        <span
          class="inline-block rounded-full bg-white shadow-lg p-2 mb-5 dark:bg-gray-700/75 dark:shadow-gray-950"
        >
          <img
            src="https://cdn.tailkit.com/media/placeholders/avatar-euZ2n8dGUcQ-320x320.jpg"
            alt="User Avatar"
            class="inline-block w-28 h-28 rounded-full"
          />
        </span>
        <h4 class="text-xl font-bold mb-0.5">Herman Reese</h4>
        <p class="font-medium text-gray-600 dark:text-gray-400">
          Support Specialist
        </p>
      </div>
      <div>
        <span
          class="inline-block rounded-full bg-white shadow-lg p-2 mb-5 dark:bg-gray-700/75 dark:shadow-gray-950"
        >
          <img
            src="https://cdn.tailkit.com/media/placeholders/avatar-DLKR_x3T_7s-320x320.jpg"
            alt="User Avatar"
            class="inline-block w-28 h-28 rounded-full"
          />
        </span>
        <h4 class="text-xl font-bold mb-0.5">Sue Keller</h4>
        <p class="font-medium text-gray-600 dark:text-gray-400">
          Web Developer
        </p>
      </div>
    </div>
    <!-- END Team -->
  </div>
</div>
<!-- END Team Section: Circle Photos with Title -->

<!-- FAQ Section: Simple -->
<div class="bg-white dark:text-gray-100 dark:bg-gray-900">
  <div
    class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32"
  >
    <!-- Heading -->
    <div class="text-center">
      <div
        class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-600 dark:text-blue-500"
      >
        We Answer
      </div>
      <h2 class="text-4xl font-black text-black dark:text-white">
        Frequently Asked Questions
      </h2>
    </div>
    <!-- END Heading -->

    <!-- FAQ -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
      <div>
        <h4 class="font-semibold mb-2">What features are included?</h4>
        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
          Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce
          purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque
          egestas nisl id lectus facilisis scelerisque.
        </p>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Can I use PayPal to pay you?</h4>
        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
          Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce
          purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque
          egestas nisl id lectus facilisis scelerisque.
        </p>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Do I get access to the community?</h4>
        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
          Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce
          purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque
          egestas nisl id lectus facilisis scelerisque.
        </p>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Can I get a refund just in case?</h4>
        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
          Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce
          purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque
          egestas nisl id lectus facilisis scelerisque.
        </p>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Do you offer email support?</h4>
        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
          Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce
          purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque
          egestas nisl id lectus facilisis scelerisque.
        </p>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Are the updates free for life?</h4>
        <p class="leading-relaxed text-gray-600 dark:text-gray-400">
          Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce
          purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque
          egestas nisl id lectus facilisis scelerisque.
        </p>
      </div>
    </div>
    <!-- END FAQ -->

    <!-- Link -->
    <div class="text-center">
      <a
        href="javascript:void(0)"
        class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-gray-200 bg-white text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700"
      >
        <svg
          class="hi-mini hi-arrow-top-right-on-square inline-block w-5 h-5 opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
            clip-rule="evenodd"
          />
          <path
            fill-rule="evenodd"
            d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Go to support center</span>
      </a>
    </div>
    <!-- END Link -->
  </div>
</div>
<!-- END FAQ Section: Simple -->
<%-include("./partials/footer")-%>